# Mac-specific
.DS_Store
*.swp

# Windows thumbs of death
Thumbs.db

# Pythons-specific ?
*.pyc
.idea

# Eclipse Project files
.project
.cproject
Capteur/Debug

# Compiled files
*.o
*.out
Capteur/Debug

# SVN is bad
.svn
Capteur/.svn

# Don't backup a backup
*~
