#main-content {
    min-height: 600px;
    border-left: 1px solid #078048;
    border-right: 1px solid #078048;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    padding: 10px;
}