<nav id="toptabs">
    <p>
        <a href="{% url greenhub.views.home %}">
            <strong>Votre score</strong>
            <em>L'état et votre avancement</em>
        </a>
        <a href="{% url greenhub.views.sensors %}">
            <strong>Votre maison</strong>
            <em>Les informations en temps réel</em>
        </a>
        <a href="{% url greenhub.views.settings %}">
            <strong>Vos paramètres</strong>
            <em>Pour gérer votre compte</em>
        </a>
    </p>
</nav>