{% extends "layouts/main.html" %}
{% load greenhub_formatting %}

{% block bodyname %}page-home{% endblock %}
{% block breadcrumbs %}
    <li class="home"><a href="/">Accueil</a></li>
    <li>Votre score</li>
{% endblock %}
{% block hello_topright %}
    {% if last_score != None %}
        <section id="score-shower">
            <p>Votre score :</p>
            <p><strong>{{ last_score|floatformat }}</strong> points</p>
        </section>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="left-column">
        <section id="graph-score">
            <h3>Historique de votre score</h3>
            <div id="chart1" style="height: 250px;"></div>
            <script type="text/javascript">
            $(document).ready(function () {
                Highcharts.setOptions({
                    global: {
                        useUTC: false
                    }
                });

                var chart;
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'chart1',
                        defaultSeriesType: 'line',
                        marginRight: 10
                    },
                    title: {
                        text: 'Votre score GreenHub'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Score'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#3B7348'
                        }]
                    },
                    tooltip: {
                        formatter: function() {
                            return 'Score :<b>'+Highcharts.numberFormat(this.y, 0)+'</b><br/><small>'+
                                    Highcharts.dateFormat('%d %m à %H:%M', this.x) +'</small><br/>';
                        }
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: false
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: 'Votre score',
                        data: [
                            {% for score in scores %}
                                [
                                    new Date({{ score.calculated_at|date:"U"|multiply_by_1000|floatformat }}).getTime(),
                                    {{ score.value|floatformat }}
                                ]{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ]
                    }]
                });
            });
            </script>
        </section>
    </div>
    <div id="right-column">
        <section>
            <h3>Nos conseils et messages</h3>
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.code }}">
                        {{ message.code|format_msg:message.data }}
                        <time>{{ message.emitted_at|date:"d M Y H:i" }}</time>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}
