{% extends "layouts/main.html" %}
{% load url from future %}

{% block bodyname %}page-home{% endblock %}

{% block content %}

    <div class="login-form">
        {% if form.errors %}
            <p>Votre nom d'utilisateur et/ou votre mot de passe sont incorrects.</p>
        {% endif %}

        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <dl>
                <dt>{{ form.username.label_tag }}</dt>
                <dd>{{ form.username }}</dd>
                <dt>{{ form.password.label_tag }}</dt>
                <dd>{{ form.password }}</dd>
            </dl>

            <button class="big-button">S'identifier</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>


{% endblock %}